<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util" 
xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" 
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd 
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">



<bean id="triangle" class="com.rohuu.drawingApp.Triangle">
<property name="pointA" ref="pointA"/>
<property name="pointB" ref="pointB"/>
<property name="pointC" ref="pointC"/>
</bean>

<!-- here we changed id to center from pointA, then it automatically took byName mapping and since local variable name is also center so it wired that setCenter with this bean having id center -->
<!-- but if we can't changes the id name ,, then     ? -->
<!-- then we use another annotation called @Qualifier -->
<bean id="pointA" class="com.rohuu.drawingApp.Point">
<qualifier value="circleRelated"/>
<property name="x" value="0"/>
<property name="y" value="0"/>
</bean>


<bean id="pointB" class="com.rohuu.drawingApp.Point">
<property name="x" value="-20"/>
<property name="y" value="0"/>
</bean>

<bean id="pointC" class="com.rohuu.drawingApp.Point">
<property name="x" value="20"/>
<property name="y" value="0"/>
</bean>

<!-- no need to write this now, coz we have written @Component in class -->
<!-- <bean id="circle" class="com.rohuu.drawingApp.Circle"> -->
<!-- </bean> -->

<context:annotation-config/>
<!-- this tag will bring all the annotation class declarations -->


<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
<property name="basenames">
<list>
<value>myMessages</value>
</list>
</property>
</bean>


<!-- this will scan for all the classes those are set as bean in the described package -->
<context:component-scan base-package="com.rohuu.drawingApp"></context:component-scan>


</beans>