<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<bean id="triangle" class="com.rohuu.drawingApp.Triangle">
<!-- 	<property name="type" value="Equilateral" />  setter injection -->


<!-- this is constructor injection, here we are setting values via calling that constructor which has 2 parameters-->
<constructor-arg value="Isoscales"/>
<constructor-arg value="20"/> 
<!-- here integer value 20 is inside string, spring automatically sets the right type -->


</bean>
</beans>